
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InstractionAboutUsingSystem</title>
</head>
<body>
  <div style="text-align:center;"><h1>Instraction about using system</h1></div>
</body>
</html>
